---
// No imports are necessary unless you're including global CSS or other components
---

<html>
  <head>
    <title>Tangize</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/global.css">
  </head>
  <body>
    <slot /> <!-- This is where the child content will be rendered -->
  </body>
</html>
